<div class="d-flex justify-content-between p-2" >
    <h3 class="text-orangered">Categorias</h3>
    <button class="btn btn-primary" onclick="ShowModalByPost(this,'Categoria/GetEditModal')">Novo</button>
</div>
<% if(Categorias && Categorias.length> 0) {%>
    <table class="table table-white table-striped mt-2">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <% Categorias.forEach(element=> {%>
                <tr>
                    <td>
                        <%= element.Id %>
                    </td>
                    <td  id="item_name_<%=element.Id %>">
                        <%= element.Nome %>
                    </td>
                    <td >
                        <%= element.Descricao %>
                    </td>
                    <td style="white-space: nowrap;">
                        <i class="bi-pen btn text-primary" onclick="ShowModalByPost(this,'Categoria/GetEditModal', '<%= element.Id %>')"></i>
                        <i class="bi-trash btn text-danger" onclick="ShowModalByPost(this,'Categoria/GetDeleteModal', '<%= element.Id %>')"></i>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <% } else{%>
        <p style="color: black;">Nenhuma categoria cadastrada!</p>
    <% }%>
    <div id="ModalContainer"></div>