<div class="modal fade rounded-5" id="Modal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/Mesa/Cadastrar">
            <div class="modal-header  bg-orangered">
                <h5 class="modal-title text-light" id="EditModalLabel"><%= Mesa?.Id ? 'Editar mesa': 'Nova mesa' %></h5>
                <button type="button" class="btn-close bg-white p-1 rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class=" d-flex justify-content-between">
                        <div class="container-modal-id">
                            <label for="Id">ID:</label>
                            <input type="text" class="input-label" value="<%= Mesa?.Id.toString().padStart(4,'0') %>" id="Id" name="Id" readonly>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Numero" class="col-form-label">Número:</label>
                        <input type="number" class="form-control" id="Numero" name="Numero" value="<%= Mesa?.Numero %>">
                    </div>

                    <div class="mb-3">
                        <label for="Localizacao" class="col-form-label">Localização:</label>
                        <input type="text" class="form-control" id="Localizacao" name="Localizacao" value="<%= Mesa?.Localizacao %>">
                    </div>
                    <div class="mb-3">
                        <label for="Cadeiras" class="col-form-label">Quantidade de cadeiras:</label>
                        <input type="number" class="form-control" id="Cadeiras" name="Cadeiras" value="<%= Mesa?.Cadeiras %>">
                    </div>
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" onclick="this.form.submit(); this.disabled=true; this.value='Sending…'; " class="btn btn-primary">Salvar</button>
            </div>
        </form>
        </div>
    </div>
</div>