
<div id="pageContent" style="overflow: hidden; height: 100%;">
    <div id="header" class="container-barra-pesquisa mb-2">
        <h3 class="text-orangered">Menu</h3>
        <div class="container-search-cart" style="height: min-content;">
            <!-- <input class="form-control input-buscar" placeholder="buscar item" style="height: min-content;"> -->
            <!-- <div class="" style="width: 3vw; height: 3vw;"> -->
                    <a href="/Auth/LogOut" class="bi bi-box-arrow-left align-self-center container-carrinho text-white bg-danger p-0" style="text-decoration: none; cursor: pointer; width: 35px; height:35px; font-size: 80%;"></a>
                
                    <!-- <i class="bi-pencil" style="position: absolute; top: 4px;" ></i> -->
                    <i style="width: 35px; height:35px; font-size: 80%;" class="container-carrinho bi bi-cart align-self-center text-white">
                        <a style="text-shadow: 1px 1px 1px gray; color: black; border-radius: 50%; position: absolute; transform: translateY(-15px);" >0</a>
                    </i>

                
            <!-- </div> -->
        </div>
    </div>
    <div id="content" style="overflow-y: auto; display: flex; flex-direction: column; gap: 1rem;">
        <% if(Categorias && Categorias.length> 0) {
            Categorias.forEach(categoria => { %>
            <div>
                <div id="categoria_container_<%= categoria.Id %>" class="container-categoria" data-bs-toggle="collapse" href="#categoria_<%= categoria.Id %>" role="button" aria-expanded="false" aria-controls="some">
                    <%= categoria.Nome %>
                <i class="bi-chevron-down"></i>
            </div>
            <div id="categoria_<%= categoria.Id %>"  style="transform: translateY(-5px);" class="collapse show container-items-cardapio">
                <% categoria.Produtos.forEach(element=> { %>
                
                    <%- include('../partials/CardProduto' , {element:element}) %>
                
            <% })%>
            </div>
        </div>
        <% })%>
        <% } else{%>
            <p class="text-secondary" >Nenhum Produto cadastrado!</p>
        <% }%>
        </div>
    </div>
</div>