<div id="pageContent" style="overflow: hidden; height: 100%;">
    <div id="header" class="container-barra-pesquisa mb-2" >
        <h3 class="text-orangered">Produtos</h3>
        <div class="container-search-cart">
            <!-- <input class="form-control input-buscar" placeholder="buscar produto"> -->
            <button class="btn btn-primary" onclick="ShowModalByPost(this,'Produto/GetEditModal')">Cadastrar novo produto</button>
        </div>
    </div>  
<% if(Produtos && Produtos.length> 0) {%>
    <div id="content" class="tableWrap" >
    <table class="">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
            <th class="d-none d-md-table-cell">Descrição</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <% Produtos.forEach(element=> {%>
                <tr>
                    <td>
                        <%= element.Id.toString().padStart(4,'0')%>
                    </td>
                    <td  id="item_name_<%=element.Id %>">
                        <%= element.Nome %>
                    </br>
                    <i style="font-style: normal; font-size: xx-small; color: gray;"><%= element.Categorium?.Nome %></i>               
                    </td>
                    <td>
                        R$ <%= element.Preco ? element.Preco.toFixed(2) : 0.00 %>
                    </td>
                    <td  class="d-none d-md-table-cell" >
                        <%= element.Descricao %>
                   </td>
                    <td >
                        <i class="bi-pen btn text-primary" onclick="ShowModalByPost(this,'Produto/GetEditModal', '<%= element.Id %>')"></i>
                        <i class="bi-trash btn text-danger" onclick="ShowModalByPost(this,'Produto/GetDeleteModal', '<%= element.Id %>')"></i>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>
    <% } else{%>
        <p style="color: black;">Nenhum produto cadastrado!</p>
    <% }%>
    </div>